 <% #if @user != nil && @user.department == "deanery" %>
	<p><%= link_to "Редагувати", "static_pages_editor"%></p>
<% #end %>
<p><%= link_to "Денне відділення", "deanery_full_time" %></p>
<p><%= link_to "Заочне відділення", "deanery_correspondence" %></p>
<br>
<%= @page_content.body.html_safe %>