<p><%= link_to "Наукове товариство", :controller => 'pages', :action => 'science' %></p>
<p><%= link_to "Студентська рада", :controller => 'pages', :action => 'student_council' %></p>
<p><%= link_to "Конференції", :controller => 'pages', :action => 'conferences' %></p>